footer#footer
  .container.content
    .columns
      .column.is-4
        .bd-footer-title
          strong #APIVE
          h4 David Castillo
          a(href='http://davidjose.com.ve/') www.davidjose.com.ve
        .bd-footer-iframe
          +twitter
      .column.is-4
        .bd-footer-title
        strong Escrito con mucho amor, con el fin de aprender.
        .bd-footer-iframe
        a(href='http://flask.pocoo.org/')
          .tags.has-addons
            span.tag.is-dark Flask
            span.tag.is-info Open Source
      .column.is-4
        h4.bd-footer-title
          strong Sigueme en mis redes sociales!
        .bd-footer-iframe.has-text-centered
          +facebook
          +instagram
          +gitlab

