footer#footer
  .container.content
    .columns
      .column.is-4
        h4.bd-footer-title
          strong #APIVE
          h4 David Castillo
        .bd-footer-iframe
          +twitter
      .column.is-4
        .bd-footer-iframe Escrito con mucho amor, con el fin de aprender.

      .column.is-4
        h4.bd-footer-title
          strong Sigueme en mis redes sociales!
        .bd-footer-iframe.has-text-centered
          +facebook
          +instagram
          +gitlab

