include ./base/mixins
html(lang=es)
  head
    include ./base/headers.pug
    title #APIVE
      block title
  body
    section.hero.is-info
      include ./base/menu
      .hero-body
        .container.has-text-centered
          block contenido
            .content
                img(src= url_for('static', filename='apive.png'))
            .content
              | Este es un pequeño sistema que tiene como finalidad entregar informacion sobre la identidad de un
              | Ciudadano Venezolano en formato JSON completamente desarrollado en python con la plataforma (Flask).
    include ./base/footer

    //Script Del Sitio
    script(async='', type='text/javascript', src="{{ url_for('static', filename='main.js') }}")
