div.hero-head
      nav.navbar
        .container
          .navbar-brand
            a.navbar-item(href= url_for('home'))
                img(src= url_for('static', filename='apive.png'))
            span.navbar-burger.burger(data-target='navbarMenu')
              span
              |
              span
              |
              span
              |
          #navbarMenu.navbar-menu
            .navbar-end
              .tabs.is-right
                each ruta, index in config.menu.rutas
                  a.navbar-item.is-outlined(href= url_for(config.menu.rutas[index]))
                    span.icon
                      i(class= config.menu.iconos[index])
                    span= config.menu.rutas[index].capitalize()
                span.navbar-item
                  a.button.is-white.is-outlined(href='https://gitlab.com/davidjdev/apive.git', title='En GitLAb' target="_blank")
                    span.icon
                      i.fab.fa-gitlab
                    span(title='Para ver el codigo del proyecto!') Ver Codigo
