mixin twitter
  a.twitter-follow-button.button.is-info(href="https://twitter.com/DaviDJDev?ref_src=twsrc%5Etfw" data-size="large" data-dnt="true" data-show-count="false")  @DaviDJDev
  script(async="" src="https://platform.twitter.com/widgets.js" charset="utf-8")

mixin gitlab
  a(href="https://gitlab.com/davidjdev" target="_blank")
    span#btngitlab.button.is-info
      i.fa.fa-gitlab(aria-hidden="true")
      |@DaviDJDev
mixin facebook
  a(href="https://www.facebook.com/davidjcinformatico" target="_blank")
    span#btnfacebook.button.is-link
      i.fa.fa-facebook(aria-hidden="true")
      |DaviDJCInformatico

mixin instagram
  a(href="https://www.instagram.com/davidjdevelop/" target="_blank")
    span#btninstagram.button.is-info
      i.fa.fa-instagram(aria-hidden="true")
      |@xXDaviDJDevelop

mixin construyendo
  .content
    h1.title.is-2.is-size-1-desktop EN CONSTRUCCIÓN
    h2.subtitle Esta seccion del sitio se encuentra en construcción, vuelve luego.
