extends base/layout
block title 
    | ERROR
block contenido
    h1.title ERROR 404 
    h2.subtitle
      | mano acabas de generar un error 404 por que la ruta que escojiste esta rota o la movimos de site. :/