{% extends 'base/layout.pug' %}
{% block title %}BUSCADOR{% endblock %}

div.hero.is-primary
	h1.title Como usar api ve?
	h2.subtitle fundamentos basicos para usar #APIVE
	`p Las apis de tipo json format 
