extends ./base/layout
block title
    | - CONTRIBUIR
block contenido
  <script src="https://www.paypal.com/sdk/js?client-id=ASwlI-jpDMvTvPn8foZjetil-OeTz3qmalcwK9WlH_3SWbkD1R6MBHyH3dfutvBrq_yi3u8jtFqjsqT_"></script>
  <script>paypal.Buttons().render('body');</script>
